* {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
body {
	/*background-color: red;*/
}

#main-section {
	background-color: black;
	color: white;
}

.about {
	width: 60%;
/*	margin: 0 auto;*/
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.my-picture {
	height: 450px;
	padding: 3px;
	border-radius: 50%;
	border-style: solid;
	border-color: white;
	border-width: 5px;
}
#dev-description {
	padding-top: 15px;
	padding-bottom: : 15px;
}

#portfolio-section {
	background-color: orange;
}

#skills-section {
	background-color: yellow;
}

#about-section {
	background-color: green;
}

#main-section,
#portfolio-section,
#skills-section,
#about-section {
	height: 100vh;
}